:root {
  --accent-color: #ff6c00;
  --dark-color: #303030;
  --text-color: #555555;
  --white-color: #ffffff;
  --pale-color: #9da4bd;
  --desc-pale-color: rgba(157, 164, 189, 0.6);

  --bg-primary-color: #f7f7f7;
  --bg-dark-color: #191c26;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: fit-content;
}

address {
  font-style: normal;
}

/* ---------------------------- utility classes ---------------------------- */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---------------------------- components ---------------------------- */

.btn {
  min-width: 160px;
  padding: 12px 20px;

  font-size: 12px;
  font-weight: 600;
  line-height: 1.362;
  letter-spacing: 0.09em;

  background-color: transparent;
  color: var(--white-color);

  border: 1px solid var(--accent-color);
  border-radius: 25px;

  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

.social-list {
  display: flex;
}

.social-list-item:not(:last-child) {
  margin-right: 40px;
}

.social-list-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.362;

  color: var(--dark-color);
}

.social-list-link:hover,
.social-list-link:focus {
  color: var(--accent-color);
}

/* ---------------------------- section ---------------------------- */

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-desc {
  margin-bottom: 20px;

  font-size: 11px;
  font-weight: 600;
  line-height: 1.362;
  letter-spacing: 0.1em;

  color: var(--dark-color);
}

.section-desc.pale {
  color: var(--desc-pale-color);
}

.section-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.174;
  letter-spacing: 0.05em;

  color: var(--dark-color);
}

.section-title.light {
  color: var(--white-color);
}

.section-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.857;
}

/* ---------------------------- header ---------------------------- */

.header {
  padding-top: 28px;
  padding-bottom: 28px;

  background-color: pink; /*temp */
}

.logo {
  margin-right: 71px;
}

.menu-list-item:not(:last-child) {
  margin-right: 40px;
}

.menu-list-link {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.362;
  letter-spacing: 0.1em;

  color: var(--white-color);
}

.menu-list-link:hover,
.menu-list-link:focus {
  color: var(--accent-color);
}

.auth-tel {
  margin-right: 40px;

  font-size: 12px;
  font-weight: 600;
  line-height: 1.362;
  letter-spacing: 0.1em;

  color: var(--white-color);
}

.auth-tel:hover,
.auth-tel:focus {
  color: var(--accent-color);
}

/* ---------------------------- hero ---------------------------- */
.hero .container {
  background-color: #ccc; /*temp*/
}

.hero-aside {
  width: 100px;
}

.hero-content {
  flex-grow: 1;
  padding-top: 272px;
  padding-left: 100px;
  padding-bottom: 206px;
}

.hero-desc {
  margin-bottom: 20px;

  font-size: 11px;
  font-weight: 600;
  line-height: 1.362;
  letter-spacing: 0.1em;

  color: var(--desc-pale-color);
}

.hero-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.174;
  letter-spacing: 0.05em;

  color: var(--white-color);
}

.hero-text {
  width: 468px;
  color: var(--pale-color);
}

/* ---------------------------- about ---------------------------- */

.about-list {
  width: 570px;
  margin-right: 64px;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-content {
  width: 500px;
}

.about-content .section-text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.about-content .btn {
  color: var(--dark-color);
}

.about-content .btn:hover,
.about-content .btn:focus {
  color: var(--white-color);
}

/* ---------------------------- prices ---------------------------- */

#prices {
  background-color: #ccc; /*temp*/
}

.prices-wrapper {
  margin-top: 44px;
  margin-bottom: 50px;
}

.price-list {
  width: 50%;
  padding: 30px 40px;
}

.price-list-item {
  color: var(--pale-color);
}

.price-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.prices-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
